body {
    min-width: 350px;
}

.user-list-head {
    text-align: center;
    margin: 0;
}

.user-list {
    padding: 0 5%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.user-list > li {
    padding: 7px 10px;
    border-radius: 8px;
    background-color: aquamarine;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}

.chatbox-container {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
}

#chatbox {
    margin: 0 15px;
}

#forms-container {
    padding: 0 5%;
    display: flex;
}

#sign-up-form, #sign-in-form {
    text-align: center;
}

